@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #b6b6b6 !important;
  background-color: black;
}

/* EDITOS.JS STYLES */

svg.icon--link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 30 30' fill='white' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}
svg.icon--unlink {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -4 30 30' fill='%239333EA' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
  color: #9333ea;
}

.image-tool__caption {
  display: none;
}

.ce-block__content {
  width: 100%;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.ce-toolbar__content {
  width: 100%;
  right: 0;
  max-width: 100%;
}

.ce-toolbar__actions {
  right: 100%;
}

.ce-inline-tool {
  color: aliceblue;
  background-color: rgb(17 24 39);
}
.ce-inline-toolbar {
  border: rgb(17 24 39);
  color: aliceblue;
  background-color: rgb(17 24 39);
}

.ce-inline-toolbar__dropdown:hover {
  background-color: rgb(17 24 39);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.ce-inline-tool--active {
  color: rgb(147 51 234);
  background-color: rgb(17 24 39);
}

.ce-inline-tool:hover {
  background-color: rgb(17 24 39);
}

.ce-conversion-toolbar {
  background-color: rgb(17 24 39);
  border: rgb(17 24 39);
  padding-bottom: 0.3em;
}

.ce-conversion-tool__icon svg {
  color: black;
}

::selection {
  color: black;
  background: gray;
}

.ce-block--selected .cdx-block {
  color: black;
}

.ce-block--selected .ce-block__content * {
  color: black;
}

.ce-popover {
  background-color: rgb(17 24 39);
  border: rgb(17 24 39);
  --color-background-item-hover: rgb(27, 36, 56);
  --color-background-item-confirm: rgb(147 51 234);
  --color-background-item-confirm-hover: rgb(147 51 234);
  --color-text-primary: white;
}

.ce-popover-item__icon {
  color: black;
}
.cdx-search-field__input::placeholder {
  color: aliceblue;
}

.cdx-search-field__input {
  background-color: rgb(27, 36, 56);
}

.cdx-search-field__input:focus {
  outline: none;
}

.cdx-search-field {
  color: aliceblue;
  background-color: rgb(27, 36, 56);
}

.cdx-search-field__icon {
  color: black;
  fill: black;
}

.ce-popover__items::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.ce-popover__items::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.ce-popover__items::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.ce-toolbar__settings-btn {
  color: aliceblue;
}

.ce-toolbar__plus {
  color: aliceblue;
}

.ce-toolbar__settings-btn:hover {
  background-color: transparent;
}

.ce-toolbar__plus:hover {
  background-color: transparent;
}

.cdx-button {
  background-color: transparent;
  border-color: rgb(31 41 55);
}
.cdx-attaches__button {
  color: #707684 !important;
}
.cdx-attaches__button:hover {
  color: aliceblue !important;
}
.cdx-button:hover {
  background-color: transparent;
  border-color: rgb(31 41 55);
  color: aliceblue;
}

.image-tool--withBackground .image-tool__image {
  background: transparent !important;
}

.tc-add-column {
  display: none !important;
}

.tc-add-row {
  display: none !important;
}

.tc-row:after {
  display: none;
}

.tc-toolbox__toggler svg {
  color: aliceblue;
}

.tc-toolbox__toggler svg rect {
  color: transparent;
  fill: rgb(36, 46, 59);
}

.link-tool__content--rendered {
  background: transparent !important;
}

.link-tool__title {
  color: aliceblue;
}

.ce-code__textarea {
  background: transparent !important;
  color: aliceblue !important;
}

.ce-inline-tool-hyperlink--input {
  color: black;
}
.ce-inline-tool-hyperlink--select-target {
  color: black;
}

.ce-inline-tool-hyperlink--select-rel {
  color: black;
}

.cdx-marker {
  color: aliceblue;
  background: rgba(230, 255, 1, 0.39) !important;
  border-radius: 0.1em;
}

.tc-popover {
  background-color: rgb(16, 21, 29) !important;
  --color-border: rgb(36, 46, 59) !important;
}

.tc-popover__item-icon {
  color: black;
}

.tc-cell--selected {
  background: rgb(36, 46, 59) !important;
}

.tc-row--selected {
  background: rgb(36, 46, 59) !important;
}
.cdx-attaches--with-file {
  background-color: transparent !important;
  border-color: black !important;
  color: aliceblue !important;
}
.cdx-attaches__download-button {
  background: transparent !important;
  color: aliceblue;
  border-color: black !important;
}

.tc-table--heading .tc-row:first-child .tc-cell {
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.363);
}

.tc-cell:first-child {
  border-left: 1px solid var(--color-border);
}

.codex-editor__redactor {
  padding-bottom: 5em !important;
}

.image-tool__image-picture {
  border-radius: 0.5em;
}

.image-tool__image-preloader {
  background-color: transparent !important;
}

/*inline editor*/

.easy-edit-wrapper,
.easy-edit-inline-wrapper {
  color: aliceblue;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  white-space: nowrap;
}

.easy-edit-hover-on {
  font-weight: 400;
  font-style: normal !important;
}
.easy-edit-component-wrapper {
  width: 95%;
}
.easy-edit-component-wrapper input {
  background-color: transparent;
  outline: none;
  caret-color: aliceblue;
  color: aliceblue;
  font-size: 1.5rem;
  width: 100%;
}

.easy-edit-button {
  color: aliceblue;
  background-color: rgba(17, 24, 39, 0.812);
  border-radius: 0.2rem;
}

/*mui*/
.MuiInputBase-root {
  width: 160px;
}

.MuiInputBase-input {
  color: aliceblue;
  font-size: large;
  width: 120px;
  padding: 0;
}

.MuiIconButton-root {
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.MuiInputBase-root {
  padding-right: 0;
}
.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper {
  background-color: rgba(0, 0, 0, 0.61);
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  color: aliceblue;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: rgb(17 24 39);
}

.MuiPickersDay-today {
  color: #9333ea !important;
  border: 0 !important;
}
.MuiPickersDay-today:hover {
  color: #9333ea !important;
  background-color: rgb(24, 29, 43) !important;
  border: 0 !important;
}
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: aliceblue;
}

.css-1vs7z2v-MuiYearCalendar-root::-webkit-scrollbar-thumb {
  width: 0.2rem;
  background: rgb(31 41 55);
  border-radius: 1rem;
}

.css-1vs7z2v-MuiYearCalendar-root::-webkit-scrollbar-track {
  width: 0.375rem;
}

.css-1vs7z2v-MuiYearCalendar-root::-webkit-scrollbar {
  width: 10px;
}

.MuiPickersDay-root.Mui-selected {
  background-color: rgb(17 24 39) !important;
}

.MuiPickersDay-root.Mui-selected:hover {
  background-color: rgb(27, 38, 63) !important;
}

.MuiPickersYear-root,
.MuiPickersCalendarHeader-label {
  color: aliceblue;
}

.MuiClockPointer-root,
.MuiClock-pin {
  background-color: #9333ea;
}

.MuiClockPointer-thumb {
  background-color: black;
  border-color: #9333ea;
}

.MuiClockNumber-root {
  color: aliceblue;
}

fieldset {
  border: none !important;
  outline: none !important;
}
